NODE_ENV=development
DB_HOST=db        
DB_PORT=5432
DB_NAME=truthLens
POSTGRES_USERNAME=
POSTGRES_PASSWORD=
DB_USERNAME=
DB_PASSWORD=
JWT_SECRET=
GMAIL_APP_PASSWORD=
GMAIL_USER=
REDIS_HOST=redis
REDIS_PORT=6379
OTP_HASH_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:5000/auth/google/callback
FRONTEND_API_URL=
ML_MODEL_API_URL=
