.venv/
venv/
env/
__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/
build/
dist/
*.egg-info/
.eggs/
.coverage
htmlcov/
.git
.gitignore
.preprocessing/
models/
datasets/
checkpoints/
